USE [master]
GO
/****** Object:  Database [ShopBridge]    Script Date: 19-11-2021 22:42:17 ******/
CREATE DATABASE [ShopBridge]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopBridge', FILENAME = N'C:\Users\Mudassar Ali\ShopBridge.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopBridge_log', FILENAME = N'C:\Users\Mudassar Ali\ShopBridge_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopBridge].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopBridge]
GO
USE [ShopBridge]
GO
/****** Object:  Table [dbo].[tbl_Item]    Script Date: 19-11-2021 22:42:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Item](
	[Sid] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](2000) NULL,
	[price] [nvarchar](50) NULL,
	[Category] [nvarchar](50) NULL,
	[AvailableStock] [int] NULL,
 CONSTRAINT [PK_tbl_Item] PRIMARY KEY CLUSTERED 
(
	[Sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Item] ON 

INSERT [dbo].[tbl_Item] ([Sid], [name], [description], [price], [Category], [AvailableStock]) VALUES (2, N'Shirt', N'Blue Color', N'500', N'Men Cloths', 20)
INSERT [dbo].[tbl_Item] ([Sid], [name], [description], [price], [Category], [AvailableStock]) VALUES (3, N'Casual Shirt', N'Green Color', N'600', N'Men Cloths', 50)
INSERT [dbo].[tbl_Item] ([Sid], [name], [description], [price], [Category], [AvailableStock]) VALUES (4, N'T-Shirt', N'Black Color', N'800', N'Men Cloths', 30)
SET IDENTITY_INSERT [dbo].[tbl_Item] OFF
GO
USE [master]
GO
